@(activeSection: String)(pageCss: Html)(pageJs: Html)(content: Html)

<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="shortcut icon" type="image/png" href="@controllers.common.routes.Assets.at("images/favicon.png")">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>My Application</title>

        @* Bootstrap core CSS *@
        <link rel="stylesheet" media="screen" href="@controllers.common.routes.Assets.at("css/bootstrap/less/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@controllers.common.routes.Assets.at("bootstrap/css/bootstrap-theme.css")">

        @* Core system stylesheet. Reads from /app/assets/css/main.less *@
        <link rel="stylesheet" media="screen" href="@controllers.customer.routes.Assets.at("css/main.min.css")">

        @* ------- Enter global CSS here. ------- *@

        @pageCss
</head>

<body>

    <h1 class="page-header">My Application</h1>
    @content

    @* Core javascript includes required for jQuery and Bootstrap *@
    <script src="@controllers.common.routes.Assets.at("js/lib/jquery-2.1.1.min.js")" type="text/javascript"></script>
    <script src="@controllers.common.routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>
    <script src="@controllers.common.routes.Assets.at("js/lib/modernizr.js")"></script>

    @* ------- Enter global Javascript here. ------- *@

    @pageJs

</body>

</html>